services:

  database:
    build:
      context: ./database
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5431:5432"
    container_name: gee-database
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}", "-d", "${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s
    
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    container_name: gee-redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s
    
  minio:
    image: minio/minio
    ports:
      - "9000:9000" # API
      - "9001:9001" # WEB
    environment:
      MINIO_ROOT_USER: ${STORAGE_S3_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${STORAGE_S3_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "${STORAGE_S3_PUBLIC_URL}/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 5
    container_name: gee-minio

  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    environment:
      STORAGE_S3_ACCESS_KEY: ${STORAGE_S3_ROOT_USER}
      STORAGE_S3_SECRET_KEY: ${STORAGE_S3_ROOT_PASSWORD}
    container_name: gee-backend
    depends_on:
      database: 
        condition: service_healthy
      redis:
        condition: service_healthy
    
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:80"
    env_file:
      - ./.env
    container_name: gee-frontend
    
  createbuckets:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    volumes:
      - ./database/current-database/core/data/example-avatars:/example-avatars
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set minio_server ${STORAGE_S3_INTERNAL_URL} ${STORAGE_S3_ROOT_USER} ${STORAGE_S3_ROOT_PASSWORD};
      /usr/bin/mc mb --ignore-existing minio_server/users;
      /usr/bin/mc anonymous set public minio_server/users;
      echo '>>> Uploading images';
      /usr/bin/mc cp --recursive /example-avatars/ minio_server/users/example-avatars;
      echo '>>> Bucket users was created';
      exit 0;
      "