services:

  database:
    build:
      context: ./database
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5431:5432"
    container_name: gee-database
    
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    container_name: gee-redis
    
  minio:
    image: minio/minio
    ports:
      - "9000:9000" # API
      - "9001:9001" # WEB
    environment:
      MINIO_ROOT_USER: ${STORAGE_S3_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${STORAGE_S3_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    container_name: gee-minio

  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - database
      - redis
    env_file:
      - ./.env
    environment:
      STORAGE_S3_ACCESS_KEY: ${STORAGE_S3_ROOT_USER}
      STORAGE_S3_SECRET_KEY: ${STORAGE_S3_ROOT_PASSWORD}
    container_name: gee-backend
    
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:80"
    env_file:
      - ./.env
    container_name: gee-frontend

