@import 'tailwindcss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@theme {
  --color-dark-blue: #182c44;
  --color-ocean-blue: #0874bc;
  --color-ocean-blue-dark: #0868a8;
  --color-dirty-white: #edebeb;
  --color-lapis-lazull: #284474;
  --color-sunny-yellow: #e8b43c;
}